/* This applies styles to every element on the page and their pseudo-elements.  */
*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    background-color: rgb(255, 255, 255);
    padding: 0;
    Margin: 0;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
/* changes the color of the text and background color when you select */
::selection {
    color: rgb(177, 130, 219);
    background-color: rgb(255, 255, 255);
}
/* Styles for all button elements */
button {
    color: rgb(255, 255, 255);
    background-color: rgb(99, 43, 149);
    border: none;
    border-radius: 10%;
    font-size: 150%;
    padding: 15px;
}

button:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(177, 130, 219);  
}
#start_quiz {
    display: flex;
    justify-content: center;
    align-items: center;  
    /* display: grid; */
/* margin:40%; */
}

h1 {
    display: flex;
    justify-content: center;
    flex: 1 0 auto;
    font-size: 250%;
}

h3 {
    display: flex;
    justify-content: center;
    padding: 3%;
    font-size: 150%;
    flex: 1 0 auto;
}

#quiz_box,
#all_done,
#highScores {
    display: none;
}

#container {
    width: 80%;
    height: 400px;
    margin: 25%;
    border-radius: 5%;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
    margin: 25%;
    flex: 1 0 auto;
}