* {
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    background-color: rgb(255, 255, 255);
}

::selection{
    color: rgb(99, 43, 149);
    background-color:rgb(255, 255, 255) ;
}

button {
    color: rgb(255, 255, 255);
    background-color: rgb(99, 43, 149);
    border: none;
    border-radius: 11%;
    font-size: 85%;
    padding: 10px;

}

#start_quiz {
    position:absolute;
    top:32%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    display:flex;
    justify-content: center;
    flex: 1 0 auto;
}

h3 {
    position:absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
}


#quiz_box,
#all_done,
#highscores
 {
    display:none;
}
